{%extends 'base.html'%}
{%block container%}


            <div id="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-content">
                                <h2>(404 ERROR)&nbsp;PAGE NOT FOUND</h2>
                                <span>Go Back Home : <a href="{% url 'index' %}">Home</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />





{%endblock%}
